@import './mixins.scss';

.container {
    flex-direction: column;
    @include center;
    width: 100%;
    .grid {
        height: 400px;
        overflow: auto;
        @include bookCardsGrid;
        @include scrollStyles;
    }
}