.container{
    width: 28vw;
    @media (max-width:50em) {
        width: 90%;
    }
    .inputStyles{
        margin: 10px;
        padding: 10px;
        border-radius: 100vw;
        border: 1px solid var(--clr-grey);
        width: 100%;
        outline: none;
        font-size: var(--fs-medium);
    }
}